@font-face {
	font-family: 'Roboto-Italic';
	src: url('fonts/Roboto-Italic[1].eot');
	src: local('вє'), url('fonts/Roboto-Italic[1].woff') format('woff'), url('fonts/Roboto-Italic[1].ttf') format('truetype'), url('fonts/Roboto-Italic[1].svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular[1].eot');
	src: local('вє'), url('fonts/Roboto-Regular[1].woff') format('woff'), url('fonts/Roboto-Regular[1].ttf') format('truetype'), url('fonts/Roboto-Regular[1].svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: darkgrey;
  font-family: 'Roboto-Regular';
}

.container {
  position: relative;
  width: 375px;
  height: 625px;
  background: linear-gradient(to top left, rgb(95, 177, 95), rgb(193, 241, 193));
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
}

.header {
  height: 15%;
}

.enter {
  margin: 10px 0 0 80%;
  text-align: center;
  width: 60px;
  background-color: #ccc;
  border-radius: 5px;
}

.enter:hover {
  transform: scale(1.02); 
  transition-duration: 0.1s;
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.intro {
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
  transition: 0.3s;
}

.intro-up {
  margin: -60px 0 0 25%;
  font-size: 50px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
  transition: 0.2s;
}

.main-logo {
  margin: 50px auto 0;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
 }



a {
  text-decoration: none;
  color:rgba(0, 0, 0, 0.397);
}

a:hover {
  color: black;
  transition-duration: 0.1s;
}

.icon {
  height: 128px;
  width: 128px;
}

.preview {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 50px 0 0 37px;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  padding: 5px 3px;
  font-family: 'Roboto-Italic';
  box-shadow: 2px 1px 1px rgba(85, 138, 75, 0.397); 
  background: linear-gradient(to top, rgb(95, 177, 95), rgb(193, 241, 193));
}

.garden {
  margin: 50px auto 0;
  width: 80%;
  display: flex;
  padding: 0;
  transition: 0.2s;
  flex-wrap: wrap;
}

.garden-down {
  margin: 110px auto 0;
  width: 80%;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.next {
  margin: 10px auto 0;
}

.plant, .add-plant {
  cursor: pointer;
  align-items: center;
  height: 80px;
  width: 21.5%;
  background: white;
  margin: 0 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 4px;
}
.planty {
  height: 60px;
  width: 60px;
  pointer-events: none;
}

.plant:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}

.back-button {
  position: absolute;
  display: inline-block;
  vertical-align:top; 
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.plant-info {
  position: absolute;
  width: calc(100% - 12px);
  height: 50vh;
  bottom: 0;
  left: 6px;
  background: linear-gradient(to top, rgb(95, 177, 95), rgb(193, 241, 193));
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
  padding: 16px;
  display: flex;
  flex-direction: column;
  transform: translateY(420px);
  transition: .5s;
}

.plant-info.active {
  transform: translateY(0);
}

.plant-info .title {
  font-size: 20px;
  text-align: center;
}

.plant-info div {
  margin-bottom: 16px;
}

.plant-info div span {
  font-family: 'Roboto-Italic';
}

.plant-info .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.plant-info .buttons div {
  cursor: pointer;
  width: 40%;
  text-align: center;
  background: #ccc;
  border-radius: 16px;
  height: 40px;
  line-height: 40px;
  transition: .3s;
}

.plant-info .buttons div:hover {
  box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
}